<% layout("/layout/boilerplate") %>

<div class="container mt-5">
  <h1>Chatter App</h1>
  <ul id="messages" class="list-group"></ul>
  <form id="chat-form" action="">
    <div class="input-group mt-3">
      <input id="message" autocomplete="off" class="form-control" />
      <button class="btn btn-primary" type="submit">Send</button>
    </div>
  </form>
</div>
